.loginPage {
    background: url('Images/employeems.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("Images/employeems.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: #0A0A0A80;
    color: white;
}
.textlogin {
    text-align: center;
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.custom-btn {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.backButton {
    color: white;
    background-color: black;
    border-color: black;
  }
  .backButton:hover {
    background-color: rgba(143, 141, 141, 0.5);
    border-color: black;
  }
  .forgot-password-link {
    display: block;
    margin-top: 10px; 
    text-decoration: underline;
    text-align: center;
    color: #007bff; 
  }

  .nav-link.active {
    background-color: #0056b3; /* Blue background for active link */
  }
  
  .nav-link:hover {
    background-color: #007bff; /* Blue background on hover */
    color: white;
  }
  
  